.no-border {
    border: none;
}
*{
    color: white;
}
table{
    width: 100%;
    text-align: center;
}
td,th{
    padding: 5px 10px 5px 10px;
    background-color: transparent;
}
tr {
    /* border-bottom: 1px solid; */
    border-width: 200%;
    border-radius: 0%;
}
tr, tr td>input, tr{
    background-color: transparent;
}
thead:hover th{
    color: black;
    background-color: transparent;
}
td{
    /* background-color: red; */
    padding: 0;
    margin: 0;
}
tr:hover td>input, tr:hover,tr:hover td {
    background-color: rgb(255, 255, 255);
    color: black;
}
/* tr:focus-within td>input, tr:focus-within{
    background-color: rgb(255, 255, 255);
} */
tr td>input{
    border: none;
}
tr td>input:focus-within{
    background-color: rgb(255, 255, 255);
    color: black;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
tr:hover input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(0);
}
#delete-button{
    text-align: center;
    background-color: red;
    border-radius: 10px 0 0 10px;;
    border-color: black;
    color: white;
    transition: 0.5s;
    filter: brightness(0.3);
}
#delete-button:hover{
    filter: brightness(1);
}

/* #message-container{
    position: relative;
} */
#message-box{
    text-align: center;
    min-width: 30%;
    max-width: 100%;
    opacity: 0;
    transition: 1s;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
}