.no-border {
    border: none;
}

table{
    width: 100%;
    text-align: center;
}
td,th{
    padding: 5px 10px 5px 10px;
}
hr{
    width: 100%;
}
tr {
    border-bottom: 1px solid;
    border-width: 200%;
    border-radius: 0%;
}

td>input{
    /* background-color: red; */
}
tr:hover td>input, tr:hover{
    background-color: aqua;
}
tr:focus-within td>input, tr:focus-within{
    background-color: aqua;
}

tr td>input:focus-within{
    background-color: red;
}

thead tr{
    background-color: white !important;
}