.container {
    height: 100vh;
}   
#add-new,
#all-expense,
#by-month,
#by-tag{
    text-decoration: none;
    color: black;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
}
#add-new{
    background-color: red;
}
#all-expense{
    background-color: blueviolet;
}
#by-month{
    background-color: blue;
}
#by-tag{
    background-color: green;
}