#main-chart {
    position: relative;
}

.ag-chart-tooltip-title {
    font-weight: bold;
    text-align: center;
}

.ag-chart-tooltip-content {
    color: black;
    text-align: center;
    font-weight: bold;
}

.row {
    height: 100%;
    width: 100%;
}

#tooltip-hover {
    color: white;
}

#detail-type {
    height: 90vh;
    overflow-y: auto;
}

#select-date {
    z-index: 9;
    position: absolute;
    left: 50%;
    top: 0;
    margin: 2% 2% 0 0;
}

#dd-mm,
#dd-mm>option {
    color: black;
    background-color: white;
}

.list-heading {
    text-align: center;
    text-decoration: underline;
}

.list-heading span {
    font-weight: bold;
}

#select-date-text {
    font-weight: bold;
}