#contact-section .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #cccccc;
    color: black;
}
#contact-section label{
    color: #000 !important;
}

#contact-section .form {
    display: grid;
    gap: 10px;
}

#contact-section .form-group {
    display: grid;
    gap: 5px;
}

#contact-section label {
    font-weight: bold;
}

#contact-section input,
#contact-section textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: black;
    text-align: start;
}

#contact-section input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#contact-section .submit-button,
#contact-section .submit-button-disabled {
    background-color: #030303;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#contact-section .submit-button:hover {
    background-color: rgba(0, 0, 0, 0.247);
    color: #000;
    box-shadow: inset 0 0 0 3px black;
}

#contact-section .submit-button-disabled {
    background-color: rgba(0, 0, 0, 0.247);
    cursor: auto;
    color: #000;
}

#contact-section #error-alert {
    text-align: center;
    visibility: hidden;
    color: red;
    transition: 1s;
}

#contact-section#form-submit-error p {
    text-align: center;
}

@media (max-width: 991px) {

    #contact-section {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    #contact-section #form-submit-error {
        margin: 0px 50px 0px 50px;
    }

    #contact-section #form-submit-error p {
        font-size: smaller !important;
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    #contact-section .container-fluid {
        margin-bottom: 5%;
    }
}