@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
    font-family: "Merriweather", serif;
    font-weight: 400;
}

.navbar-home>* {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    margin: 0;
    padding: 0;
}

.custom-tooltip {
    background-color: #fff;
    /* border: 1px solid #ccc; */
    /* padding: 10px; */
}

.custom-tooltip .line_1 {
    color: black;
    padding: 5px;
}

.custom-tooltip .line_2 {
    color: black;
    padding: 0px;
    text-align: center;
}