#chart-main-section {
    display: none;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 25%);
    width: 100%;
    height: 100%;
    background-color: black;
}

#chart-main-section canvas {
    height: 100vh;
    /* width: 539px;
    height: 599px; */
}